<header>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <a routerLink="/" mat-button>
                <mat-icon class="menu-icon" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                Home
            </a>
            <a routerLink="/movies" mat-button>
                <mat-icon class="menu-icon" aria-hidden="false" aria-label="Example home icon">movie</mat-icon>
                Movies
            </a>
            <a routerLink="/genres" mat-button>
                <mat-icon class="menu-icon" aria-hidden="false" aria-label="Example home icon">category</mat-icon>
                Genres
            </a>

            <span class="spacer"></span>

            <app-auth-view>
                <ng-container authenticated>
                    <a (click)="logout()" mat-button>
                        <mat-icon class="menu-icon" aria-hidden="false" aria-label="Example home icon">logout</mat-icon>
                        Logout
                    </a>
                </ng-container>
                <ng-container notAuthenticated>
                    <a routerLink="/account/login" mat-button>
                        <mat-icon class="menu-icon" aria-hidden="false" aria-label="Example home icon">login</mat-icon>
                        Login
                    </a>
                </ng-container>
            </app-auth-view>
        </mat-toolbar-row>
    </mat-toolbar>
</header>