<header>
    <mat-toolbar color="primary">
        <nav>
            <a routerLink="/" mat-button>
                <mat-icon class="menu-icon" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                Home
            </a>
            <a routerLink="/movies" mat-button>
                <mat-icon class="menu-icon" aria-hidden="false" aria-label="Example home icon">movie</mat-icon>
                Movies
            </a>
            <a routerLink="/genres" mat-button>
                <mat-icon class="menu-icon" aria-hidden="false" aria-label="Example home icon">category</mat-icon>
                Genres
            </a>
        </nav>
    </mat-toolbar>
</header>