<form (submit)="submit()" [formGroup]="form">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Name:</mat-label>
            <input formControlName="name" matInput>
        </mat-form-field>
    </div>
    <button [disabled]="!form.valid" mat-raised-button type="submit" color="accent">
        <span #buttonContent>
           <ng-content select="[buttonContent]"></ng-content> 
        </span>
        <div *ngIf="!buttonContent.innerHTML.trim()">
            Save
        </div>
    </button>
    <a routerLink="/genres" mat-raised-button>Back</a>
</form> 