<h2>Genre List</h2>

<app-auth-view>
    <ng-container authenticated>
        <div class="example-button-row">
            <button routerLink="/genres/add" mat-raised-button color="accent">Add New</button>
        </div>
    </ng-container>
    <!-- <ng-container notAuthenticated>
        I am not authenticated!
    </ng-container> -->
</app-auth-view>

<div *ngIf="!genres" class="loading">
    <img  src="https://cdn.dribbble.com/users/2973561/screenshots/5757826/loading__.gif" alt="Loading">
</div>

<p *ngIf="genres?.length === 0">There is no genres yet!</p>

<div class="genre-list">
    <mat-card *ngFor="let genre of genres" class="genre-card">
        <span>{{genre.name}}</span>
        <button [routerLink]="['/genres/edit/', genre.id]" mat-stroked-button>Edit</button>
    </mat-card>
</div>